*, *::after, *::before{
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  display: block;
  justify-content: center;
  align-items: center;
  max-width: 480px;
  margin-right: auto;
  margin-left: auto;
}